/* Default theme (Light) */
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: #454545;
    font-family: Arial, sans-serif;
    transition: background-color 0.7s ease, color 0.7s ease;
    z-index: 999;
}
body h1 {
    padding: 3%;
    border-radius: 40px;
    background: rgb(230, 230, 230);
    margin-top: 18%;
    font-size: 60px;
}

/* Dark theme */

body.dark {
    background-color: #000000;
    color: rgba(255, 255, 255);

}
body.dark h1 {
    padding: 3%;
    border-radius: 40px;
    background: rgb(31, 31, 31);
}
body.dark .work::after {
    background: #2c2c2c;
}
/* Optional button style */

.switch {
    width: 60px;
    height: 30px;
    opacity: 1;
    background: #2c2c2c;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 330px;
    transition: 0.4s;
}
.circle {
    width: 26px;
    height: 26px;
    background: rgb(228, 228, 228);
    border-radius: 50%;
    position: absolute;
    top: 2px;left: 32px;
    transition: 0.4s;
}

/* after click*/

.switch.active {
    background: #fff;
}
.switch.active .circle {
    left: 2px;
    background: rgb(0, 0, 0);
}
 
/* new part of my web*/

.work {
    width: 300px; 
    height: 470px; 
    margin: 40px 33px;
    border-radius: 20px; 
    box-shadow: -6px 0px 12px rgba(255, 255, 255, 0.04),
    0 12px 30px rgba(0, 0, 0, 0.7),
    0 0 0 rgba(0,0,0,0);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
}
.work::before {
    content: "";
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg,
    grey,
    grey);
    height: 150%;
    animation: show 8s linear infinite;
    transition: all 0.2s linear;
}
@keyframes show {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.work::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
}
